header .row{
   background-image:url(../../../public/images/136529525_7bb73310-2fa3-44c4-9666-df85b625a3c7.jpg) ;
   background-size: cover;
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: right;
    width: 100%;
    text-align: left;
    height: auto;
    overflow: hidden;
    padding: 100px 0px;
    /* padding-top: 150px; */
} 
.moreBtn {
    background-color: #fff;
    color: var(--color1);
    border: 1px solid var(--color1);
}



header h2{
    color: var(--color4);
    font-size: 50px;
    line-height: 60px;
    font-family: "Oswald", sans-serif;
}
header p{
    color:var(--color1);
    font-family: "Oswald", sans-serif;
    
    margin: 15px 0px ;
 
}

header button{
    color: #fff;
     background-color: var(--color3);
     border: 1px solid var(--color3);
     box-sizing: border-box;
     text-align: center;
     font-weight: bold;
     padding: 10px 40px;
     margin:30px 20px 30px 0px ;

}
header .moreBtn:hover{
    background-color: var(--color1) !important;
    color: #fff !important ;
 

}
header .orderBtn:hover{
    background-color: #fff !important;
    color: var(--color3) !important;
}
header button:hover{
    transition: .2s ease-in-out;
}
